body {
	background-image: url("../images/imagebackgroundjungletest.png");
	font-family: 'Open Sans', sans-serif;
	font-color: white;
	}

h1, h2, h3 {
	font-family: 'Kumar One', cursive;
	font-color: black;

	}

#footer {
	background-color: black;
	color: #aaaaaa;
	padding-top: 3em;
	padding-bottom: 3em;
	}

#footer a {
	color: #aaaaaa;
	}

#footer a:hover {
	color: #dddddd;
	}

.social a {
	font-size: 24px;
	}

#wrapper {
	background-image: url("../images/background/7-28icecream_015.jpeg");
	height: 550px;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	}

#wrapper h1 {
	font-size: 72px;
	}

#wrapper h2 {
	font-size: 18px ;
	margin-bottom: 1em;
	}

.circle {
		width:100px;
		height:100px;
		border-radius:50px;
		color:white;
		line-height:100px;
		text-align:center;
		background:#fff
		}

#blue {
	color: white;
}

.containertext { 
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	letter-spacing: 2px;
	}

.container {
	padding-top: 4em;
	padding-bottom: 4em;
	}

.navbar-transparent {
	background-color: rgba(0, 0, 0, 0.5);
	}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
	color: #eeeeee ;
	}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > liv > a:active,
.navbar-transparent .navbar-nav > liv > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
	color: white;
	background-color: rgba (0, 0, 0, 0.3)
	}
